/* VARIABLES COLORS */
$black: #000;
$white: #FFF;
$grey: rgb(68,68,68);
$green: rgb(98,255,98);
$green-50: rgba(0,255,0,0.5);
$green-80: rgba(0,255,0,0.8);
$green-shadow: 0 0 0.75rem $green;
$react: #61dbfb;
$javascript: #f0db4f;
$html: #e44d26;
$css: #264de4;
$sass: #c69;
$bootstrap: #602c50;
$font-awesome: #339af0;
$node: #68a063;
$grunt: #E78625;
$git: #f1502f;
$npm: #CC3534;
$stackoverflow: #E78625;
$windows: #0078D7;
$sql: #00758f;
$vue: #41b883;
$git-hub: #9cdaf1;
$linked-in: #0e76a8;
$twitter: #00acee;